<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>decodoku.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1ACC6B1D1C4967630004419C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ACC6B361C4967630004419C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ACC6B411C4967630004419C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
